* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(90deg, black, orange);
    background: url('https://images.unsplash.com/photo-1568405336404-1fefdca58699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
}

main{
    height: 80%;
    width: 80%;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
}

.sign_up{
    width: 65%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.sign_up h2{
    color: #ffab11;
    font-style: italic;
    font-size: 1.5rem;
}

.sign_up form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sign_up form section.form_group{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.form_group div{
    border-bottom: 1px solid #000000;
    width: 45%;
}

input{
    border: none;
    padding: 1rem;
}

input:focus{
    outline: none;
}
input:active{
    background-color: none;
}

input::placeholder{
    font-style: italic;
}

section span{
    font-size: 0.875rem;
    font-weight: bold; 
}
input[value="REGISTER NOW"]{
    padding: 0.875rem 3rem;
    border-radius: 2rem;
    background-color: #ffab11;
    font-weight: bold;
    cursor: pointer;
}






.sign_in{
    width: 35%;
    background-color:#000000;
    color: #ffffff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.sign_in h2{
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.sign_in form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.sign_in form >div:nth-child(3){
    display: flex;
    justify-content: space-between
}

.sign_in form .form_group{
    background-color: #ffab11;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
}

.sign_in form .form_group input{
    background-color: transparent;
    padding: 0.375rem;
    border-right: 2px solid #000000;
    width: 80%;
}

.sign_in form .form_group i{
    margin-left: 9px;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-size: 0.875rem;
    font-style: italic;
}

a:last-child{
    color: #ffab11;
}

input[value="Login"]{
    border-radius: 2rem;
    background-color: #ffab11;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.sign_in ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.sign_in ul li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_in ul li:nth-child(1){
    background-color:#039be5 ;
}

.sign_in ul li:nth-child(2){
    background-color: #03a9f4;
}

.sign_in ul li:nth-child(3){
    background-color:#f4511e ;
}



.sign_in ul li a {
    color: white;
}

.sign_in ul li a i.fa{
    font-size: 1.5rem;
}

.sign_in> a{
    color: #ffffff;
    font-size: 0.875rem;
    text-align: center;
    display: none;
    cursor: pointer;
}


@media (max-width: 1250px){
    .form_group div{
        display: flex;
    }
    .form_group div .fa{
        margin-top: 13px;
    }
    .sign_in h2{
        font-size:1rem;
    }

    a{
        font-size: 0.65rem;
    }
}

@media (max-width: 900px){
    .sign_up{
        width: 60%;
    }

    .sign_in{
        width: 40%;
    }

    .sign_in form >div:nth-child(3) {
        flex-direction: column;
    }

    .sign_in form >div:nth-child(3) a{
        margin-bottom: 1rem;
        font-size: 0.85rem;
    }
}

@media ( max-width: 800px){
    .sign_up{
        display: none;
    }

    .sign_in{
        width: 100%;
        height: 540px;
    }

    .sign_in ul{
        justify-content: space-around;
    }

    .sign_in> a {
        display: block;
    }
}

@media (max-width: 650px){
    body{
        height: auto;
    }

    main{
        margin-top: 70px;
        margin-bottom: 70px;
    }

    
    .sign_up form section.form_group{
        flex-wrap: wrap;
    }

    .form_group div{
        width: 80%;
        margin-bottom: 30px;
    }

    .sign_up section:nth-child(4) {
        margin-bottom: 1.5rem;
    }
}